.u-section-1 .u-sheet-1 {
  min-height: 706px;
}

.u-section-1 .u-text-1 {
  margin: 100px auto 0;
}

.u-section-1 .u-image-1 {
  width: 250px;
  height: 250px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-bottom-style: solid;
  margin: 40px auto 0 514px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-bottom-style: solid;
  margin: -28px auto 60px 583px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 412px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 302px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 371px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
  }
}