.u-section-1 .u-sheet-1 {
  min-height: 1083px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  height: auto;
  margin: 50px auto 50px 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 983px;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 29px;
}

.u-section-1 .u-image-1 {
  height: 213px;
  --radius: 16px;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-group-1 {
  width: 245px;
  min-height: 64px;
  height: auto;
  --radius: 15px;
  margin: -40px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: -24px 1px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 9px 1px 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1px auto 0 141px;
  padding: 5px 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: -34px auto 0 91px;
  padding: 5px 0;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 25px 29px;
}

.u-section-1 .u-image-2 {
  height: 213px;
  --radius: 16px;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-group-2 {
  width: 245px;
  min-height: 64px;
  height: auto;
  --radius: 15px;
  margin: -40px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: -24px 1px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 9px 1px 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1px auto 0 141px;
  padding: 5px 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: -34px auto 0 91px;
  padding: 5px 0;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 25px 29px;
}

.u-section-1 .u-image-3 {
  height: 213px;
  --radius: 16px;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-group-3 {
  width: 245px;
  min-height: 64px;
  height: auto;
  --radius: 15px;
  margin: -40px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: -24px 1px 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 9px 1px 0;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1px auto 0 141px;
  padding: 5px 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: -34px auto 0 91px;
  padding: 5px 0;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 25px 29px;
}

.u-section-1 .u-image-4 {
  height: 213px;
  --radius: 16px;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-group-4 {
  width: 245px;
  min-height: 64px;
  height: auto;
  --radius: 15px;
  margin: -40px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-13 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-14 {
  font-style: italic;
  margin: -24px 1px 0 auto;
}

.u-section-1 .u-text-15 {
  margin: 9px 1px 0;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1px auto 0 141px;
  padding: 5px 0;
}

.u-section-1 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: -34px auto 0 91px;
  padding: 5px 0;
}

.u-section-1 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 25px 29px;
}

.u-section-1 .u-image-5 {
  height: 213px;
  --radius: 16px;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-group-5 {
  width: 245px;
  min-height: 64px;
  height: auto;
  --radius: 15px;
  margin: -40px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-17 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-18 {
  font-style: italic;
  margin: -24px 1px 0 auto;
}

.u-section-1 .u-text-19 {
  margin: 9px 1px 0;
}

.u-section-1 .u-text-20 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1px auto 0 141px;
  padding: 5px 0;
}

.u-section-1 .u-btn-10 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: -34px auto 0 91px;
  padding: 5px 0;
}

.u-section-1 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 25px 29px;
}

.u-section-1 .u-image-6 {
  height: 213px;
  --radius: 16px;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-group-6 {
  width: 245px;
  min-height: 64px;
  height: auto;
  --radius: 15px;
  margin: -40px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-21 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-22 {
  font-style: italic;
  margin: -24px 1px 0 auto;
}

.u-section-1 .u-text-23 {
  margin: 9px 1px 0;
}

.u-section-1 .u-text-24 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-11 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1px auto 0 141px;
  padding: 5px 0;
}

.u-section-1 .u-btn-12 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: -34px auto 0 91px;
  padding: 5px 0;
}

.u-section-1 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 25px 29px;
}

.u-section-1 .u-image-7 {
  height: 213px;
  --radius: 16px;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-group-7 {
  width: 245px;
  min-height: 64px;
  height: auto;
  --radius: 15px;
  margin: -40px auto 0;
}

.u-section-1 .u-container-layout-14 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-25 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-26 {
  font-style: italic;
  margin: -24px 1px 0 auto;
}

.u-section-1 .u-text-27 {
  margin: 9px 1px 0;
}

.u-section-1 .u-text-28 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-13 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1px auto 0 141px;
  padding: 5px 0;
}

.u-section-1 .u-btn-14 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: -34px auto 0 91px;
  padding: 5px 0;
}

.u-section-1 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 25px 29px;
}

.u-section-1 .u-image-8 {
  height: 213px;
  --radius: 16px;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-group-8 {
  width: 245px;
  min-height: 64px;
  height: auto;
  --radius: 15px;
  margin: -40px auto 0;
}

.u-section-1 .u-container-layout-16 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-29 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-30 {
  font-style: italic;
  margin: -24px 1px 0 auto;
}

.u-section-1 .u-text-31 {
  margin: 9px 1px 0;
}

.u-section-1 .u-text-32 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-15 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1px auto 0 141px;
  padding: 5px 0;
}

.u-section-1 .u-btn-16 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: -34px auto 0 91px;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 811px;
  }

  .u-section-1 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: 4px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: 4px;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: 4px;
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-top: 4px;
    height: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-top: 4px;
    height: auto;
  }

  .u-section-1 .u-text-18 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: 4px;
    height: auto;
  }

  .u-section-1 .u-text-22 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    margin-top: 4px;
    height: auto;
  }

  .u-section-1 .u-text-26 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-8 {
    margin-top: 4px;
    height: auto;
  }

  .u-section-1 .u-text-30 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 1242px;
  }

  .u-section-1 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -33px;
    margin-left: 81px;
  }

  .u-section-1 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -33px;
    margin-left: 81px;
  }

  .u-section-1 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -33px;
    margin-left: 81px;
  }

  .u-section-1 .u-image-4 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 20px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -33px;
    margin-left: 81px;
  }

  .u-section-1 .u-image-5 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 20px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -33px;
    margin-left: 81px;
  }

  .u-section-1 .u-image-6 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 20px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: -33px;
    margin-left: 81px;
  }

  .u-section-1 .u-image-7 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 20px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: -33px;
    margin-left: 81px;
  }

  .u-section-1 .u-image-8 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 20px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: -33px;
    margin-left: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: -24px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-top: -24px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-top: -24px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    margin-top: -24px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-top: -24px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-22 {
    margin-top: -24px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-26 {
    margin-top: -24px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-30 {
    margin-top: -24px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 140px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -33px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-2 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 140px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -33px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-3 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 140px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -33px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-4 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 140px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -33px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-5 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 140px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -33px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-6 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 140px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: -33px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-7 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 140px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: -33px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-8 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 140px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: -33px;
    margin-left: 90px;
  }
}